body {
background-image: url(../Img/achtergrond.png);
background-color: rgb(0, 255, 26);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
padding-top: 5px;
}

a:hover{
  background-color: #187743;
  box-shadow: 0 0 20px #187743;
  transform: scale(1.1);
}

.index{
  padding: 4px 11px;
  border: 1px solid #092114;
  background-color: #0f6c39;
  color: #013518;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.4s ease;
  outline: none;
  position: relative;
  overflow: hidden;
  font-weight: bold;
  text-decoration: none;
}

.cv{
  padding: 4px 8px;
  border: 1px solid #092114;
  background-color: #0f6c39;
  color: #013518;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.4s ease;
  outline: none;
  position: relative;
  overflow: hidden;
  font-weight: bold;
  text-decoration: none;
}

.hobby{
  padding: 4px 8px;
  border: 1px solid #092114;
  background-color: #0f6c39;
  color: #013518;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.4s ease;
  outline: none;
  position: relative;
  overflow: hidden;
  font-weight: bold;
  text-decoration: none;
}

.ervaring{
  padding: 4px 8px;
  border: 1px solid #092114;
  background-color: #0f6c39;
  color: #013518;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.4s ease;
  outline: none;
  position: relative;
  overflow: hidden;
  font-weight: bold;
  text-decoration: none;
}

.contact{
  padding: 4px 8px;
  border: 1px solid #092114;
  background-color: #0f6c39;
  color: #013518;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.4s ease;
  outline: none;
  position: relative;
  overflow: hidden;
  font-weight: bold;
  text-decoration: none;
}

.text{
  color: rgb(203, 236, 210);
  font-family: "McLaren", sans-serif;
  font-weight: 400;
  font-style: normal;
  border-right: 2px;
  max-width: 700px; 
}

.texth1{
  font-size: 3rem;
  margin-bottom: 0px;
}

.texth2{
  font-size: 1.5rem;
  margin-top: 0px;
  margin-bottom: 20px;
}

.texth3{
  font-size: 1.3rem;
  margin-top: 0px;
  margin-right: 20px;
}

.mijn-foto{
  border-right: 2px;
  float: right;
  margin-left: 20px;
  margin-top: -300px;
  padding-right: 30px;
  padding-bottom: 30px;
  width: 750px;
}

.nav-links{
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
}