body {
background-image: url(achtergrond.png);
background-color: rgb(14, 77, 7);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 100vh;
}

a:hover{
  background-color: #187743;
  box-shadow: 0 0 20px #187743;
  transform: scale(1.1);
}

.index{
  padding: 4px 11px;
  border: 1px solid #092114;
  background-color: #0f6c39;
  color: #013518;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.4s ease;
  outline: none;
  position: relative;
  overflow: hidden;
  font-weight: bold;
  text-decoration: none;
}

.cv{
  padding: 4px 8px;
  border: 1px solid #092114;
  background-color: #0f6c39;
  color: #013518;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.4s ease;
  outline: none;
  position: relative;
  overflow: hidden;
  font-weight: bold;
  text-decoration: none;
}

.overmij{
  padding: 4px 8px;
  border: 1px solid #092114;
  background-color: #0f6c39;
  color: #013518;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.4s ease;
  outline: none;
  position: relative;
  overflow: hidden;
  font-weight: bold;
  text-decoration: none;
}

.ervaring{
  padding: 4px 8px;
  border: 1px solid #092114;
  background-color: #0f6c39;
  color: #013518;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.4s ease;
  outline: none;
  position: relative;
  overflow: hidden;
  font-weight: bold;
  text-decoration: none;
}

.contact{
  padding: 4px 8px;
  border: 1px solid #092114;
  background-color: #0f6c39;
  color: #013518;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.4s ease;
  outline: none;
  position: relative;
  overflow: hidden;
  font-weight: bold;
  text-decoration: none;
}

.text{
  color: rgb(203, 236, 210);
  font-family: "McLaren", sans-serif;
  font-weight: 400;
  font-style: normal;
  border-right: 2px;
  max-width: 700px; 
  margin-left: 20px;
}

.texth1{
  font-size: 3rem;
  margin-bottom: 0px;
}

.textp{
  font-size: 1.3rem;
  margin-top: 0px;
  margin-right: 20px;
}

.mijn-foto2{
  float: right;
  margin-left: 20px;
  margin-top: -460px;
  padding-right: 30px;
  width: 750px;
}

.nav-links{
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
}

label {
      color: rgb(203, 236, 210);
      font-family: "McLaren", sans-serif;
        }
        
 input, textarea {
       background: #0a1f0a;
       color: rgb(203, 236, 210);
       border: 1px solid rgb(203, 236, 210);
       padding: 8px;
        }
        
input[type="submit"] {
       background: #0a1f0a;
       color: rgb(203, 236, 210);
       border: 1px solid rgb(203, 236, 210);
       padding: 10px 20px;
       cursor: pointer;
       }

.verplaatstabel {
    margin-left: 20px;
    margin-top: 50px;
}